@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #45454c;
}

::-webkit-scrollbar-thumb {
	background: #201e30;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #141418;
}

/* Custom Shake Animation for New Messages */
.shake {
  animation: shakeCustom 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Keyframes */
@keyframes shakeCustom {
  0% {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
  10% {
    transform: scale(1.02) translate3d(-2px, 0, 0);
  }
  20% {
    transform: scale(1.02) translate3d(3px, 0, 0);
  }
  30% {
    transform: scale(1.03) translate3d(-4px, 0, 0);
  }
  40% {
    transform: scale(1.03) translate3d(4px, 0, 0);
  }
  50% {
    transform: scale(1.02) translate3d(-3px, 0, 0);
    opacity: 0.95;
  }
  60% {
    transform: scale(1.02) translate3d(3px, 0, 0);
  }
  70% {
    transform: scale(1.01) translate3d(-2px, 0, 0);
  }
  80% {
    transform: scale(1.01) translate3d(2px, 0, 0);
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}
